beautifulsoup4>=4.12.2
blinker>=1.6.2
connexion>=2.14.2
coverage>=7.3.0
docutils>=0.18.1
python-dotenv>=1.0.0
dotmap>=1.3.30
Flask>=2.2.5
Flask_Admin>=1.6.1
Flask_Cors>=4.0.0
flask_restful_swagger_2>=0.35
flask_sqlalchemy>=3.0.5
Jinja2>=3.1.2
jinja_markdown>=1.210911
jsonschema>=4.19.0
m2r2>=0.3.2
Markdown>=3.4.4
matplotlib>=3.7.2
mergedeep>=1.3.4
numpy>=1.25.2
paho_mqtt>=1.6.1
pandas>=2.0.3
pdf2image>=1.16.3
pigar>=2.1.1
Pillow>=10.0.0
pipreqs>=0.4.13
psutil>=5.9.5
py_linq>=1.4.0
pydicom>=2.4.3
pyflakes>=3.1.0
Pygments>=2.16.1
pylinac>=3.14.0
pylint>=2.17.5
pynetdicom>=2.0.2
pyodbc>=4.0.39
pyrql>=0.7.7
python_tds>=1.13.0
PyYAML>=6.0.1
Requests>=2.31.0
rqlalchemy>=0.3.0
Rtree>=1.0.1
safrs>=3.0.4
setuptools>=65.5.1
scikit-image>=0.21.0
sortedcontainers>=2.4.0
sphinx>=7.1.1
sphinx-rtd-theme>=1.3.0
SQLAlchemy>=2.0.20
tinycss2>=1.2.1
weasyprint>=59.0
