<h2>Markdown</h2>
{% markdown %}
* Datum aus variables **Datenausgabe** :{% raw %}{{Datenausgabe}}{% endraw %}
* Inhalt aus variables
    * Version: {{Version}}
    * render_mode: {{render_mode}}
{% endmarkdown %}

<h2>icon</h2>
<i class="mdi mdi-check-outline green-text"></i>

<img src="{{resources}}/test.svg" alt="test.svg" />