<header>
    <table class="isp-header" >
    <tr>
        <td class="header_1 logo" rowspan="3">
            <img class="logo" src="{{resources}}/{{logo}}" />
            tests:
        </td>
        <td class="header_2 text">{{Klinik}}</td>
    </tr>
    <tr>
        <td class="header_2 text">{{Abteilung}}</td>
    </tr>
    <tr>
        <td class="header_2 text">{{Titel}} - {{Betreff}}</td>
    </tr></table>
</header>