<footer>
    <table class="isp-footer" ><tr>
    	<td class="footer_1 name" rowspan="2">{{filename}}</td>
    	<td class="footer_2 text">Erstelldatum: {{Erstelldatum}} ({{Erstellt_von}})</td>
    	<td class="footer_3 text" colspan="2">Freigabe: {{Freigegeben_von}} ({{Gültig_ab}}) V.{{Version}}</td>
    </tr><tr>
        <td class="footer_2 text">geprüft: {{Geprüft_von}}</td>
        <td class="footer_3 text">Datenausgabe: {{Datenausgabe}}</td>
        <td class="footer_4 text">Seite <pagenum>{{pagenum}}</pagenum> von <pages>{{pages}}</pages></td>
    </tr></table>
</footer>