@page {
    size: {{ page.size }}; 
    margin: {{(page.top+page.header+page["header-margin"])|int}}mm {{page.right}}mm {{(page.bottom+page.footer+page["footer-margin"])|int}}mm {{page.left}}mm;
}

@media screen {
    header: {
        height: {{(page.header+page["header-margin"])|int}}mm;
    }
    .pageContent{
        top: {{(page.header+page["header-margin"])|int}}mm;
        position: relative;
    }
}